@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-nav-height: 3rem;
  }

  .main-nav {
    height: var(--main-nav-height);
  }

  html {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 4vw;
  }

  @media (min-width: 340px) {
    html {
      font-size: 1rem;
    }
  }
  /* @media (min-width: 512px) {
    html {
      font-size: 4vw;
    }
  } */
}
